<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headerText</key>
	<string></string>
	<key>footerText</key>
	<string></string>
	<key>title</key>
	<string>设置</string>
	<key>style</key>
	<string>Grouped</string>
	<key>sections</key>
	<array>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>title</key>
					<string>分组</string>
					<key>detailTitle</key>
					<string></string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict>
						<key>style</key>
						<string>Grouped</string>
						<key>sections</key>
						<array>
							<dict>
								<key>cells</key>
								<array>
									<dict>
										<key>key</key>
										<string></string>
										<key>imageName</key>
										<string></string>
										<key>textTitle</key>
										<string>家庭</string>
										<key>detailTitle</key>
										<string></string>
										<key>defaultValue</key>
										<string></string>
										<key>cellStyle</key>
										<string>Default</string>
										<key>subDataSource</key>
										<dict>
											<key>style</key>
											<string>Grouped</string>
											<key>sections</key>
											<array/>
										</dict>
									</dict>
									<dict>
										<key>key</key>
										<string></string>
										<key>imageName</key>
										<string></string>
										<key>textTitle</key>
										<string>访客</string>
										<key>detailTitle</key>
										<string></string>
										<key>defaultValue</key>
										<string></string>
										<key>cellStyle</key>
										<string>Default</string>
										<key>subDataSource</key>
										<dict/>
									</dict>
									<dict>
										<key>key</key>
										<string></string>
										<key>imageName</key>
										<string></string>
										<key>textTitle</key>
										<string></string>
										<key>detailTitle</key>
										<string>黑名单</string>
										<key>defaultValue</key>
										<string></string>
										<key>cellStyle</key>
										<string>Default</string>
										<key>subDataSource</key>
										<dict/>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>textTitle</key>
					<string>wifi设置</string>
					<key>detailTitle</key>
					<string></string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict/>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>textTitle</key>
					<string></string>
					<key>detailTitle</key>
					<string>外网设置</string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict/>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>textTitle</key>
					<string>管理密码</string>
					<key>detailTitle</key>
					<string></string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict/>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>textTitle</key>
					<string>蓝牙</string>
					<key>detailTitle</key>
					<string></string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict>
						<key>headerText</key>
						<string></string>
						<key>footerText</key>
						<string></string>
						<key>title</key>
						<string></string>
						<key>style</key>
						<string></string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerText</key>
			<string></string>
			<key>footerText</key>
			<string></string>
			<key>cells</key>
			<array>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>textTitle</key>
					<string>关闭路由器</string>
					<key>detailTitle</key>
					<string></string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict/>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>textTitle</key>
					<string>格式化硬盘</string>
					<key>detailTitle</key>
					<string></string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict/>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>textTitle</key>
					<string>恢复出厂设置</string>
					<key>detailTitle</key>
					<string></string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict/>
				</dict>
				<dict>
					<key>key</key>
					<string></string>
					<key>imageName</key>
					<string></string>
					<key>textTitle</key>
					<string>关于</string>
					<key>detailTitle</key>
					<string></string>
					<key>defaultValue</key>
					<string></string>
					<key>cellStyle</key>
					<string>Default</string>
					<key>subDataSource</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
