<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headerText</key>
	<string>headerTextTest</string>
	<key>footerText</key>
	<string>footerTextTest</string>
	<key>title</key>
	<string>titleTest</string>
	<key>style</key>
	<string>Grouped</string>
	<key>sections</key>
	<array>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>key</key>
					<string>s0i0key</string>
					<key>imageName</key>
					<string>image0</string>
					<key>textTitle</key>
					<string>s0i0textTitle</string>
					<key>detailTitle</key>
					<string>s0i0detailTitle</string>
					<key>style</key>
					<string>Default</string>
				</dict>
				<dict>
					<key>key</key>
					<string>s0i1key</string>
					<key>imageName</key>
					<string>image1</string>
					<key>textTitle</key>
					<string>s0i1textTitle</string>
					<key>detailTitle</key>
					<string>s0i1detailTitle</string>
					<key>style</key>
					<string>Value1</string>
					<key>accessoryType</key>
					<string>DisclosureIndicator</string>
					<key>subDataSource</key>
					<dict>
						<key>style</key>
						<string>Plain</string>
						<key>title</key>
						<string>section0item0subdatasourceTitle</string>
						<key>sections</key>
						<array>
							<dict>
								<key>cells</key>
								<array>
									<dict>
										<key>key</key>
										<string>key00</string>
										<key>imageName</key>
										<string>image1</string>
										<key>textTitle</key>
										<string>section0item0subdatasourceTitlesection0item0Title</string>
										<key>detailTitle</key>
										<string>section0item0subdatasourceTitlesection0item0DetailTitle</string>
										<key>style</key>
										<string>Value1</string>
									</dict>
									<dict>
										<key>key</key>
										<string>key</string>
										<key>textTitle</key>
										<string>textTitle</string>
										<key>detailTitle</key>
										<string>detailTitle</string>
										<key>defaultValue</key>
										<string>defaultValue</string>
										<key>style</key>
										<string>Default</string>
									</dict>
									<dict>
										<key>key</key>
										<string>1</string>
										<key>imageName</key>
										<string>2</string>
										<key>textTitle</key>
										<string>3</string>
										<key>detailTitle</key>
										<string>4</string>
										<key>defaultValue</key>
										<string>5</string>
										<key>style</key>
										<string>Default</string>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</dict>
				<dict>
					<key>key</key>
					<string>s0i2key</string>
					<key>imageName</key>
					<string>image2</string>
					<key>textTitle</key>
					<string>s0i2textTitle</string>
					<key>detailTitle</key>
					<string>s0i2detailTitle</string>
					<key>style</key>
					<string>Value2</string>
					<key>accessoryType</key>
					<string>DetailDisclosureButton</string>
				</dict>
				<dict>
					<key>key</key>
					<string>s0i3key</string>
					<key>imageName</key>
					<string>image3</string>
					<key>textTitle</key>
					<string>s0i3textTitle</string>
					<key>detailTitle</key>
					<string>s0i3detailTitle</string>
					<key>style</key>
					<string>Subtitle</string>
					<key>accessoryType</key>
					<string>Checkmark</string>
				</dict>
				<dict>
					<key>key</key>
					<string>s0i4key</string>
					<key>imageName</key>
					<string>image4</string>
					<key>textTitle</key>
					<string>s0i4textTitle</string>
					<key>detailTitle</key>
					<string>s0i4detailTitle</string>
					<key>defaultValue</key>
					<string>s0i4DefaultValue</string>
					<key>style</key>
					<string>Textfield</string>
				</dict>
				<dict>
					<key>key</key>
					<string>s0i5key</string>
					<key>imageName</key>
					<string>image5</string>
					<key>textTitle</key>
					<string>s0i5textTitle</string>
					<key>detailTitle</key>
					<string>s0i5detailTitle</string>
					<key>defaultValue</key>
					<string>Yes</string>
					<key>style</key>
					<string>Switch</string>
				</dict>
				<dict>
					<key>key</key>
					<string>s0i6key</string>
					<key>imageName</key>
					<string>image6</string>
					<key>textTitle</key>
					<string>s0i6textTitle</string>
					<key>detailTitle</key>
					<string>s0i6detailTitle</string>
					<key>style</key>
					<string>Button</string>
				</dict>
				<dict>
					<key>key</key>
					<string>s0i7key</string>
					<key>imageName</key>
					<string>image7</string>
					<key>textTitle</key>
					<string>s0i7textTitle</string>
					<key>detailTitle</key>
					<string>s0i7detailTitle</string>
					<key>style</key>
					<string>Password</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerText</key>
			<string>s1headerText</string>
			<key>footerText</key>
			<string>s1footerText</string>
			<key>cells</key>
			<array>
				<dict>
					<key>key</key>
					<string>s1i0key</string>
					<key>imageName</key>
					<string>image0</string>
					<key>textTitle</key>
					<string>s1i0textTitle</string>
					<key>detailTitle</key>
					<string>s1i0detailTitle</string>
					<key>style</key>
					<string>Default</string>
				</dict>
				<dict>
					<key>key</key>
					<string>s1i1key</string>
					<key>imageName</key>
					<string>image1</string>
					<key>textTitle</key>
					<string>s1i1textTitle</string>
					<key>detailTitle</key>
					<string>s1i1detailTitle</string>
					<key>style</key>
					<string>Value1</string>
				</dict>
				<dict>
					<key>key</key>
					<string>s1i2key</string>
					<key>imageName</key>
					<string>image2</string>
					<key>textTitle</key>
					<string>s1i2textTitle</string>
					<key>detailTitle</key>
					<string>s1i2detailTitle</string>
					<key>style</key>
					<string>Value2</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
